{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# product \LRuozzi9\SyliusElasticsearchPlugin\Model\ProductResponseInterface #}

<div class="ui fluid card" {{ sylius_test_html_attribute('product') }}>

    {{ product.routeName }}
</div>
