{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@WebgriffeSyliusElasticsearchPlugin/Search/Result/_breadcrumb.html.twig' %}
    {% include '@WebgriffeSyliusElasticsearchPlugin/Search/Result/_content.html.twig' %}
    <div class="ui stackable grid">
        <div class="four wide column">
            {% include '@WebgriffeSyliusElasticsearchPlugin/Search/Result/_attributes.html.twig' %}
        </div>

        <div class="twelve wide column">
            {% include '@WebgriffeSyliusElasticsearchPlugin/Search/Result/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
